body{
	background-color: white;
  font-family: inherit;
}


img {
  /*border: 1px solid #ddd;*/
  /*border-radius: 4px;*/
  width: 150px;
}
.statement{
margin: 0 auto;
width: 500px;
font-size: 24px;
font-weight: 300;
line-height: 1.3em;
text-align: left;
color: #4d4c4c;
}
.name{
	margin: 0 auto;
	width: 130px;
	font-size: 45px;

}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  color: #b3afaf;
  font-size: 14px;
  line-height: 1.5em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


